.shell {
  display: grid;
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  grid-template:
    "topbar topbar" auto
    "sidebar main" 1fr
    / 240px 1fr;
  min-height: 100vh;
}

.topbar {
  grid-area: topbar;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}

.main {
  grid-area: main;
  padding: var(--space-6);
  overflow-y: auto;
}

@media (width < 768px) {
  .shell {
    grid-template:
      "topbar" auto
      "main" 1fr
      / 1fr;
  }

  .sidebar {
    display: none;
  }
}
